<div class="header-container text-center" style="display: block;" id="admin-header-container">
    <div class="ad-logo">
        <img src="../../images/Asset_1.png">
        <!-- <span id="logo-title"><b>L</b>ife <b>S</b>aver</span> -->
    </div>
    <div class="ad-tit"><span>이동식 가스 안전 모니터링</span> 통합 관리 시스템</div>
</div>