<div class="w2ui-page page-0 w2ui-site-form">
    <div class="w2ui-field">
        <label>비고</label>
        <div><input name="location"></div>
    </div>
    <div class="w2ui-field">
        <label>사업장명</label>
        <div> <input type="text" name="site_index" readonly></div>
    </div>

    <div class="w2ui-field">
        <label>업체명</label>
        <div>
            <input type="text" name="name">
            <button class="w2ui-btn-green" id="overlap-btn" ischecked="false">중복체크</button>     
            <button class="w2ui-btn" id="reInput-btn"  style="display: none;">다시입력</button>                   
            <span id="overlap-error" class="error_text" style="display: none;">*입력하신 업체가 존재합니다. 다시 입력하세요.</span>
            <span id="overlap-success" class="success_text" style="display: none;">*입력하신 업체는 등록 가능 합니다.</span>
        </div>
    </div>
    <div class="w2ui-field">
        <label>서버</label>
        <div> <input type="text" name="server_index"></div>
    </div>
</div>
<div class="w2ui-buttons w2ui-site-button">
    <button class="w2ui-btn" name="reset" id="reset-btn">초기화</button>
    <button class="w2ui-btn w2ui-btn-green" name="update" id="update-btn">수정</button>
    <button class="w2ui-btn w2ui-btn-blue" name="save" id="search-btn">등록</button>

</div>