<div class="contents-box">
    <div class="admin-container">
        <div class="container-top-box">
            <div class="contents-title"><span>업체 관리</span></div>
            <div class="contents-text"><p>업체을 등록하고 수정, 삭제 할 수 있습니다.</p></div>
        </div>
        <div class="container-bottom-box">
            <div class="bottom-left-box site-left-box">
                <div class="contents_grid" id="site_grid"></div>
            </div>
            <div class="bottom-right-box site-right-box">
                <div class="contents_form" id="site_form"></div>
                <div class="contents_newTitle" id="site_box"> 새 등록 된 업체 목록</div>
                <div class="contents_new_grid" id="newSite_grid"></div>
            </div>
        </div>
    </div>    
</div>