<div class="component-box">
    <div class="top-component">
        <div class="login-component">
            <div class="contents-box">
                <img id="lifesaver-logo" src="../../images/mobile/ls_logo.png" alt="LIFESAVER LOGO">
                <div class="login-box">
                    <div id="login-form">
                        <div class="input-box">
                            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                                <input type="text" class="input_n" placeholder="아이디" id="txtID" name="userId">
                            </div>
                            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                                <input class="input_n" placeholder="비밀번호" type="password" id="txtPass" name="password">
                            </div>
                        </div>

                        <span id="login-msg" style="display: none;">비밀번호가 일치 하지 않습니다.</span>
                        <div class="submit-box">
                            <div class="ui-btn ui-input-btn ui-corner-all ui-shadow">로그인
                                <input type="button" id="submit-btn" value="로그인">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom-componet">
        <!-- <div id="openworks-logo"></div> -->
        <img id="openworks-logo" src="../../images/mobile/ow_logo.png" alt="OPENWORKS LOGO">
    </div>
</div>